* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    word-break: keep-all;
}

a{
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

ul:not(.informations){
    list-style: none;
}